# Permalinks
#
# Use of `relative_permalinks` ensures post links from the index work properly.
permalink:           pretty
relative_permalinks: true

# Setup
title:               Ask an Astronomer
tagline:             McDonald Observatory
url:                 http://askanastronomer.org
paginate:            1
baseurl:             ""

# Assets
#
# We specify the directory for Jekyll so we can use @imports.
sass:
  sass_dir:          _sass
  style:            :compressed

# About/contact
author:
  name:              Stefano Meschiari
  url:               http://stefanom.org
  email:             stefano.meschiari@gmail.com

