---
layout: default
title: Home 
description: Curious about Astronomy? Have a burning question about the Universe? We are a team of Texas astronomers, ready to answer your questions.
---
<h1>Ask an Astronomer</h1>
<p>Curious about Astronomy? Have a burning question about the Universe that you'd like answered? <a href="/ask">Ask us!</a> We have answered {{ site.posts | size }} questions so far.</p>

<p>We are a <a href="/about">team</a> of graduate students, postdocs, researchers and faculty affiliated with the <a href="http://www.as.utexas.edu">University of Texas</a> and <a href="http://mcdonaldobservatory.org">McDonald Observatory</a>. We welcome questions about Astronomy from K-12 students, teachers and the general public!</p>

<a href="http://www.facebook.com/mcdaskanastronomer" class="button" target="_new"><i class="fa fa-facebook-square"></i> Follow us on Facebook</a>

{% include topics.html %}

<h1>Recent questions</h1>
{% for post in site.posts limit: 5 %}
{% include looper.html %}
{% endfor %}
<div class="post-li">
    <a href="/all">See all questions...</a>
    <a href="/atom.xml" style="float:right"><i class="fa fa-feed"></i> Feed</a>
</div>
