.caption {
  font-size:0.7rem;
  color:lightgray;
}

.image {
  margin-bottom:20px;
}

.sidebar {
  text-shadow:0px 0px 10px black;
  overflow:scroll;
}

.sidebar-about h3 {
  font-family:'Raleway', 'Helvetica Neue', Helvetica, Arial;
  font-size:0.7rem;
  color:#9FA8DA;
}
.sidebar-about h1 {
  font-family:'Raleway', 'Helvetica Neue', Helvetica, Arial;
  font-size:2rem;
  margin-bottom:20px;
  margin-top:-10px;
}

.sidebar-nav a {
  font-family:'Raleway', 'Helvetica Neue', Helvetica, Arial;  
  display:block;
  padding:3px;
  padding-left:10px;
  margin-top:5px;
  text-decoration:none;  
}

.sidebar-nav a:hover {
  text-decoration:none;
  background:white;
  color:black;
  text-shadow:none;
}

.sidebar-nav i.s {
  width:20px;
}

a.ask {
  background:linear-gradient(to bottom, #7986CB, #3F51B5);
  padding:15px;
  text-transform:uppercase;
  font-weight:bold;
  text-shadow:none;
  border-radius:3px;
  margin-bottom:30px;
}

a.about {
  color:#9FA8DA;
  font-weight:bold;
}

.sidebar {  
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), #1A237E),
  url('/img/sidebar.jpg');
  background-size:cover; 
}

.topics {
  border:none;
}

.topics td {
  text-align:center;
  width:33%;
  background:white !important;
  vertical-align:top;
  padding-top:10px;
  border:none;
}

.topics td img {
  display:inline;
}

.topics a {
  display:block;
  padding:15px;
  text-decoration:none;
}

.topics a:hover {
  background-color:#283593;
  color:white;
  text-decoration:none;
}



#search {
  border:1px solid rgba(255, 255, 255, 0.4);
  border-radius:30px;
  padding:8px;
  margin-top:20px;
}


#searchbox {
  font-family:'Raleway', 'Helvetica Neue', Helvetica, Arial;
  font-style:italic;
  font-size:1rem;
  -webkit-appearance:none;
  border:none;
  appearance:none;
  background:none;
  color:white;
}
