.caption {
  font-size:0.7rem;
  color:lightgray;
}

.caption a {
  color:darkgray;
}

.image {
  margin-bottom:20px;
}
.image-40 {
  float:right;
  width:40%;
  margin:30px;
}

.sidebar {
  text-shadow:0px 0px 10px black;
}

.sidebar-about h3 {
  font-family:'Raleway', 'Helvetica Neue', Helvetica, Arial;
  font-size:0.7rem;
  color:#9FA8DA;
}
.sidebar-about h1 {
  font-family:'Raleway', 'Helvetica Neue', Helvetica, Arial;
  font-size:2rem;
  margin-bottom:20px;
  margin-top:-10px;
}

.sidebar-nav a {
  font-family:'Raleway', 'Helvetica Neue', Helvetica, Arial;  
  display:block;
  padding:3px;
  padding-left:10px;
  margin-top:5px;
  text-decoration:none;  
}

.sidebar-nav a:hover {
  text-decoration:none;
  background:white;
  color:black;
  text-shadow:none;
}

.sidebar-nav i.s {
  width:20px;
}

a.ask {
  background:linear-gradient(to bottom, #7986CB, #3F51B5);
  padding:15px;
  text-transform:uppercase;
  font-weight:bold;
  text-shadow:none;
  border-radius:3px;
  margin-bottom:30px;
}

a.about {
  color:#9FA8DA;
  font-weight:bold;
}

.sidebar {  
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), #1A237E),
  url('/img/sidebar.jpg');
  background-size:cover; 
}



#search {
  border:1px solid rgba(255, 255, 255, 0.4);
  border-radius:30px;
  padding:8px;
  margin-top:20px;
}

#searchbox {
  font-family:'Raleway', 'Helvetica Neue', Helvetica, Arial;
  font-style:italic;
  font-size:1rem;
  -webkit-appearance:none;
  border:none;
  appearance:none;
  background:none;
  color:white;
}

.post-li {
  clear:both;
  border-top:1px solid lightgray;
  padding-top:10px;
}

.post-li .img-container {
  min-height:100px;
  float:left;
  width:30%;
  
  max-width:200px;
  margin:10px;
}

#topics {
  display:none;
}

.topics {
  border:none;
  clear:both;
}

.topics a {
  display:block;
  padding:15px;
  text-decoration:none;
  color:black;
}

.topics a:hover {
  background-color:#283593;
  color:white;
  text-decoration:none;
}

.topic {
  width:33%;
  float:left;
  text-align:center;
}

.topic img {
  margin:0;
}

.sidebar {
  padding:0rem 1rem;
}

.sidebar .container {
  padding:0;
}

@media (max-width: 48em) {
  html {
    font-size:15px;
  }
  .content {
    padding-top:1rem;
  }

  .topics-list {
    display:none;
  }

  #topics {
    display:block;
    width:100%;
    font-size:1rem;
    text-align:center;
  }
  
  #search {
    display:none;
  }

  .sidebar {
    scroll:initial;
    padding:1rem 1rem;
  }

  a.about {
    display:none;
  }

  .sidebar h1 {
    
  }

}

