.sidebar-top {
  float:right;
  height:100%;
  display:none;
}

.top-nav {
  display:none;
}

.caption {
  font-size:0.7rem;
  color:rgb(190, 190, 190);
}

.caption a {
  color:rgb(100, 100, 100);
}

.with-border {
  border:1px solid lightgray;
}

.post-info {
  font-size:0.8rem;
  color:lightgray;
  margin-bottom:10px;
}

.post-date {
  margin-bottom:0;
}

.post-title {
  border-bottom:1px solid lightgray;
}

.post-author {
  margin-bottom:1rem;
  font-size:0.9rem;
}

.post-category {
  float:right;
  color:lightgray
}

.post-category a {
  color:white;
  font-size:0.8rem;
  padding:5px;
  padding-top:2px;
  padding-bottom:2px;
  background-color:darkgray;
}

.post-info a, .post-date a {
  color:darkgray;
}

.image {
  margin-bottom:20px;
  padding:10px;
  background-color:rgb(240, 240, 240);
}
.image-40 {
  float:right;
  width:40%;
  margin:5px;
  padding:10px;
  background-color:rgb(240, 240, 240);
}

.sidebar {
  text-shadow:0px 0px 10px black;
  overflow:scroll;
}

.sidebar-about h3 {
  font-family:'Raleway', 'Helvetica Neue', Helvetica, Arial;
  font-size:0.7rem;
  color:#9FA8DA;
}
.sidebar-about h1 {
  font-family:'Raleway', 'Helvetica Neue', Helvetica, Arial;
  font-size:2rem;
  margin-bottom:20px;
  margin-top:-10px;
}

.sidebar-nav a {
  font-family:'Raleway', 'Helvetica Neue', Helvetica, Arial;  
  display:block;
  padding-left:10px;
  margin-top:5px;
  text-decoration:none;  
}

.sidebar a:hover {
  text-decoration:none;
  background:white;
  color:#7986CB;
  text-shadow:none;
}

.sidebar-nav i.s {
  width:20px;
}

a.button {
  background:linear-gradient(to bottom, #7986CB, #3F51B5);
  line-height:3;
  font-weight:bold;
  text-shadow:none;
  border-radius:3px;
  color:white;
  padding:5px;
  padding-left:10px;
  padding-right:10px;
}

a.button:hover {
  text-decoration:none;
  background:white;
  color:#7986CB;
  border:1px solid #7986CB;
}

a.ask {
  background:linear-gradient(to bottom, #7986CB, #3F51B5);
  line-height:3;
  text-transform:uppercase;
  font-weight:bold;
  text-shadow:none;
  border-radius:3px;
  margin-bottom:30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

a.answer {
  background:linear-gradient(to bottom, #7986CB, #3F51B5);
  line-height:3;
  text-transform:uppercase;
  font-weight:bold;
  text-shadow:none;
  border-radius:3px;
  margin-bottom:30px;
}

a.about {
  color:#9FA8DA;
  font-weight:bold;
}

.sidebar {  
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), #1A237E),
  url('/img/sidebar.jpg');
  background-size:cover; 
}



#search {
  border:1px solid rgba(255, 255, 255, 0.4);
  border-radius:30px;
  padding:8px;
  margin-top:20px;
}

#searchbox {
  font-family:'Raleway', 'Helvetica Neue', Helvetica, Arial;
  font-style:italic;
  font-size:1rem;
  -webkit-appearance:none;
  border:none;
  appearance:none;
  background:none;
  color:white;
}

.post-li {
  clear:both;
  border-top:1px solid lightgray;
  padding-top:10px;
}

.post-li .img-container {
  min-height:100px;
  float:left;
  width:30%;
  
  max-width:200px;
  margin-right:15px;
}

#topics {
  display:none;
}

.topics {
  border:none;
  clear:both;
  overflow:hidden;
}

.topics a {
  line-height:1.2;
  display:block;
  padding:0.6rem;
  text-decoration:none;
  color:black;
}

.topics a:hover {
  background-color:#283593;
  color:white;
  text-decoration:none;
}

.topic {
  width:33%;
  float:left;
  text-align:center;
}

.topic img {
  margin:0;
  margin-bottom:10px;
  min-width:100%;
}

.sidebar {
  padding:0rem 1rem;
}

.sidebar .container {
  padding:0;
}

@media (max-width: 48em) {
  html {
    font-size:15px;
  }
  .content {
    padding-top:1rem;
  }

  .topics-list {
    display:none;
  }

  #topics {
    display:block;
    width:100%;
    font-size:1rem;
    text-align:center;
  }
  
  #search {
    display:none;
  }

  .sidebar {
    padding:0.2rem 1rem;
    overflow:initial;
  }

  .sidebar-nav {
    display:none;
  }

  .top-nav {
    display:block;
    background-color:rgb(220, 220, 220);
    text-align:center;
  }

  .top-nav a {
    width:150px;
    color:white;
    padding:8px;
  }

  a.about {
    display:none;
  }

  .sidebar h1 {
    
  }

}

