<div class="sidebar">
  <div class="container">
      <div class="sidebar-about">
          <h3>McDonald Observatory's</h3>
        <h1>            
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
    </div>

    <nav class="sidebar-nav">
        <a href="/ask" class="ask" title="Ask"><i class="fa fa-question-circle"></i> Ask a question</a>
        <select id="topics">
            <option disabled="disabled" selected="selected">Jump to a topic</option>
            <option value="/all">All topics {{ site.posts.length }}</option>
            <option value="/bhc">Black Holes & Cosmology</option>
            <option value="/stars">Stars</option>
            <option value="/galaxies">Galaxies</option>
            <option value="/planets">Planets & Solar System</option>
            <option value="/other">Other</option>
            <option value="/faq">Frequently Asked Questions</option>            
        </select>
        <div class="topics-list">
            <a href="/all" title="All">All questions</a>
            <a href="/bhc" title="Black Holes & Cosmology">Black holes & Cosmology</a>
            <a href="/stars" title="Stars">Stars</a>
            <a href="/galaxies" title="Galaxies">Galaxies</a>
            <a href="/planets" title="Planets">Planets & Solar System</a>
            <a href="/other" title="Other">Other</a>
            <a href="/faq">Frequently asked questions</a>            
        </div>
        <script>
         function doSearch() {
             var address = "https://duckduckgo.com/?q=site%3Aaskanastronomer.org+" +
                           encodeURIComponent(document.search.searchbox.value);
             location.href = address;
             return false;
         }
        </script>
        
        <a href="/about" class="about">About Us</a>
        <a href="/links" class="about">Links</a>
        <a href="/atom.xml" class="about"><i class="fa fa-feed"></i> Feed</a>
        <form id="search" name="search" action="#" method="post" onsubmit="return doSearch()">
            <i class="fa fa-search"></i>
            <input type="text" name="searchbox" id="searchbox" placeholder="Search the archive">
        </form>
        
    </nav>

  </div>
</div>
