<div class="sidebar">
  <div class="container">
      <div class="sidebar-about">
          <h3>McDonald Observatory's</h3>
        <h1>            
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
    </div>

    <nav class="sidebar-nav">
        <a href="/ask" class="ask" title="Ask"><i class="fa fa-question-circle"></i> Ask a question</a>
        <div>
            <a href="/all" title="All">All</a>
            <a href="/bhc" title="Black Holes & Cosmology">Black holes & Cosmology</a>
            <a href="/stars" title="Stars">Stars</a>
            <a href="/galaxies" title="Galaxies">Galaxies</a>
            <a href="/planets" title="Planets">Planets & Solar System</a>
            <a href="/other" title="Other">Other</a>
            <a href="/faq">Frequently asked questions</a>            
        </div>
        <script>
         function doSearch() {
             var address = "http://google.com/?q=site%3Awww.askanastronomer.org+" +
                           encodeURIComponent(document.search.searchbox.value);
             location.href = address;
             return false;
         }
        </script>
        
        <a href="/about" class="about">About Us</a>
        <a href="/links" class="about">Links</a>

        <form id="search" name="search" action="#" method="post" onsubmit="return doSearch()">
            <i class="fa fa-search"></i>
            <input type="text" name="searchbox" id="searchbox" placeholder="Search the archive">
        </form>
    </nav>

  </div>
</div>
