<h1>Topics</h1>
<div class="topics">
    <div class="topic">
        <a href="/bhc">
            <img src="/img/icon_bh.jpg">
            Black Holes & Cosmology 
        </a>            
    </div>
    <div class="topic">
        <a href="/galaxies">
            <img src="/img/icon_galaxy.jpg">
            Galaxies
        </a>
    </div>
    <div class="topic">
        <a href="/stars">
            <img src="/img/icon_stars.jpg">
            Stars
        </a>            
    </div>
</div>
<div class="topics">
    <div class="topic">
        <a href="/planets">
            <img src="/img/icon_ss.jpg">
            Planets & Solar System
        </a>
    </div>
    <div class="topic">
        <a href="/other">
            <img src="/img/icon_other.jpg">
            Other topics
        </a>
    </div>
    <div class="topic">
        <a href="/faq">
            <img src="/img/icon_faq.jpg">
            Frequently Asked Questions
        </a>
    </div>
</div>
